### IntelliJ IDEA ###
out/
!**/src/main/**/out/

!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/ArrayHoldingManyObjects_60/
!/src/potpie7.java

!/src/duna4.java

!/src/e18SimpleAveragingProgram.java

!/src/e41BuildingObjectsforConstructors.java

!/src/e06IncrementOperators.java

!/src/tuna2.java

!/src/e32ArraysInMethods.java

!/src/e04BasicCalculator.java

!/src/e08LogicalOperators.java

!/src/e46Static.java

!/src/e14Constructors.java

!/src/e39MultipleConstructors.java

!/src/e43Composition.java

!/src/ArrayHoldingManyObjects_60/

!/src/tuna6.java

!/src/e05Integers.java

!/src/tuna3.java

!/src/duna5.java

!/src/e30ArraysElementsasCounters.java

!/src/e35VariableLengthArguments.java

!/src/e29SummingElementsArray.java

!/src/e01Printing.java

!/src/e31EnhancedForLoop.java

!/src/e28ArrayTable.java

!/src/e47StaticMore.java

!/src/e38PublicPrivate.java

!/src/e15NestedIfStatements.java

!/src/e23CompoundInterestProgram.java

!/src/e12UseMethodsWithParameters.java

!/src/e49Inheritance.java

!/src/e27Arrays.java

!/src/e42ToString.java

!/src/duna1.java

!/src/e44Enumeration.java

!/src/duna2.java

!/src/e17ConditionalOperators.java

!/src/e36TimeClass.java

!/src/e48Final.java

!/src/tuna7.java

!/src/tuna8.java

!/src/SimplePolymorphicProgram_61/

!/src/e40SetGet.java

!/src/tuna9.java

!/src/e09SwitchStatement.java

!/src/tuna4.java

!/src/e03Scanner.java

!/src/duna3.java

!/src/duna7.java

!/src/e26RandomNumberGenerator.java

!/src/e52ActionListener.java

!/src/e24DoWhileLoops.java

!/src/e51GUIwJFrame.java

!/src/e45Enumset.java

!/src/e16elseIfStatement.java

!/src/e37DisplayReguralTime.java

!/src/e19ForLoops.java

!/src/tuna1.java

!/src/duna6.java

!/src/e33MultidimensionalArrays.java

!/src/potpie1.java

!/src/e11MultClasses.java

!/src/potpie.java

!/src/e50GUI.java

!/src/ClassHoldObj_59/

!/src/e25MathClassMethods.java

!/src/tuna5.java

!/src/e34TableforMarrays.java

!/src/e02Variables.java

!/src/duna8.java

!/src/duna9.java

!/src/e13ManyMethodsandInstances.java

!/src/food.java

!/src/e10While.java

!/src/e07IfStatements.java
/src/SimplePolymorphicProgram_61/
/src/duna1.java
/src/duna2.java
/src/duna3.java
/src/duna4.java
/src/duna5.java
/src/duna6.java
/src/duna7.java
/src/duna8.java
/src/duna9.java
/src/e01Printing.java
/src/e02Variables.java
/src/e03Scanner.java
/src/e04BasicCalculator.java
/src/e05Integers.java
/src/e06IncrementOperators.java
/src/e07IfStatements.java
/src/e08LogicalOperators.java
/src/e09SwitchStatement.java
/src/e10While.java
/src/e11MultClasses.java
/src/e12UseMethodsWithParameters.java
/src/e13ManyMethodsandInstances.java
/src/e14Constructors.java
/src/e15NestedIfStatements.java
/src/e16elseIfStatement.java
/src/e17ConditionalOperators.java
/src/e18SimpleAveragingProgram.java
/src/e19ForLoops.java
/src/e23CompoundInterestProgram.java
/src/e24DoWhileLoops.java
/src/e25MathClassMethods.java
/src/e26RandomNumberGenerator.java
/src/e27Arrays.java
/src/e28ArrayTable.java
/src/e29SummingElementsArray.java
/src/e30ArraysElementsasCounters.java
/src/e31EnhancedForLoop.java
/src/e32ArraysInMethods.java
/src/e33MultidimensionalArrays.java
/src/e34TableforMarrays.java
/src/e35VariableLengthArguments.java
/src/e36TimeClass.java
/src/e37DisplayReguralTime.java
/src/e38PublicPrivate.java
/src/e39MultipleConstructors.java
/src/e40SetGet.java
/src/e41BuildingObjectsforConstructors.java
/src/e42ToString.java
/src/e43Composition.java
/src/e44Enumeration.java
/src/e45Enumset.java
/src/e46Static.java
/src/e47StaticMore.java
/src/e48Final.java
/src/e49Inheritance.java
/src/e50GUI.java
/src/e51GUIwJFrame.java
/src/e52ActionListener.java
/src/food.java
/src/potpie.java
/src/potpie1.java
/src/potpie7.java
/src/tuna1.java
/src/tuna2.java
/src/tuna3.java
/src/tuna4.java
/src/tuna5.java
/src/tuna6.java
/src/tuna7.java
/src/tuna8.java
/src/tuna9.java
